@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@100;500;700&display=swap");

$color-primary: hsl(158, 36%, 37%);
$color-secundary: hsl(30, 38%, 92%);
$color-neutral: hsl(212, 21%, 14%);
$color-neutral2: hsl(228, 12%, 48%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$fontFamilyOne: "Montserrat", sans-serif;
$fontFamilyTwo: "Fraunces", serif;
